body{
    font-family: 'Abel', sans-serif;
}

.banner{
    background-color: #F3F3F3;
}

.banner-col{
    background-color: #702283;
}

.navbar-container{
    background-color: #7952B3;
}

.about-container{
    background-color: teal;
}

.ta{
    text-align: justify;
}

.education{
    background-color: cornsilk;
}

.circle{
    background-color: cadetblue;
    width: 150px;
    height: 150px;
    border-radius: 70px;
}